/* [next]/internal/font/google/dm_sans_e46a0e9d.module.css [app-client] (css) */
@font-face {
  font-family: DM Sans Fallback;
  src: local(Arial);
  ascent-override: 94.9%;
  descent-override: 29.66%;
  line-gap-override: 0.0%;
  size-adjust: 104.53%;
}

.dm_sans_e46a0e9d-module__kt_f3a__className {
  font-family: DM Sans, DM Sans Fallback;
  font-style: normal;
}

.dm_sans_e46a0e9d-module__kt_f3a__variable {
  --font-dm-sans: "DM Sans", "DM Sans Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.left-\[-100px\] {
  left: -100px;
}

.left-\[-999px\] {
  left: -999px;
}

.left-\[17px\] {
  left: 17px;
}

.right-0 {
  right: 0;
}

.right-\[-200px\] {
  right: -200px;
}

.right-\[-900px\] {
  right: -900px;
}

.right-\[3vw\] {
  right: 3vw;
}

.top-\[-100px\] {
  top: -100px;
}

.top-\[-1200px\] {
  top: -1200px;
}

.top-\[0\] {
  top: 0;
}

.top-\[14px\] {
  top: 14px;
}

.top-\[25px\] {
  top: 25px;
}

.z-0 {
  z-index: 0;
}

.z-20 {
  z-index: 20;
}

.m-auto {
  margin: auto;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[34px\] {
  margin-bottom: 34px;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-\[30px\] {
  margin-left: 30px;
}

.ml-\[5px\] {
  margin-left: 5px;
}

.ml-\[97px\] {
  margin-left: 97px;
}

.ml-auto {
  margin-left: auto;
}

.mr-\[23px\] {
  margin-right: 23px;
}

.mr-\[5vw\] {
  margin-right: 5vw;
}

.mr-\[8px\] {
  margin-right: 8px;
}

.mt-\[-20px\] {
  margin-top: -20px;
}

.mt-\[0px\] {
  margin-top: 0;
}

.mt-\[103px\] {
  margin-top: 103px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[116px\] {
  margin-top: 116px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[21px\] {
  margin-top: 21px;
}

.mt-\[278px\] {
  margin-top: 278px;
}

.mt-\[281px\] {
  margin-top: 281px;
}

.mt-\[37px\] {
  margin-top: 37px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[52px\] {
  margin-top: 52px;
}

.mt-\[74px\] {
  margin-top: 74px;
}

.mt-\[93px\] {
  margin-top: 93px;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[1100px\] {
  height: 1100px;
}

.h-\[237px\] {
  height: 237px;
}

.h-\[292px\] {
  height: 292px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[37px\] {
  height: 37px;
}

.h-\[43px\] {
  height: 43px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[890px\] {
  height: 890px;
}

.h-\[90\%\] {
  height: 90%;
}

.h-\[900px\] {
  height: 900px;
}

.h-\[90px\] {
  height: 90px;
}

.h-full {
  height: 100%;
}

.min-h-\[900px\] {
  min-height: 900px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[1600px\] {
  width: 1600px;
}

.w-\[210px\] {
  width: 210px;
}

.w-\[2500px\] {
  width: 2500px;
}

.w-\[256px\] {
  width: 256px;
}

.w-\[376px\] {
  width: 376px;
}

.w-\[397px\] {
  width: 397px;
}

.w-\[550px\] {
  width: 550px;
}

.w-\[765px\] {
  width: 765px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[800px\] {
  width: 800px;
}

.w-full {
  width: 100%;
}

.min-w-\[500px\] {
  min-width: 500px;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-\[1fr_1fr_1fr_1fr_1fr_1fr\] {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.space-x-\[25px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(25px * var(--tw-space-x-reverse));
  margin-left: calc(25px * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[3px\] {
  border-width: 3px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-b-\[2px\] {
  border-bottom-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#1b1b1b\] {
  --tw-border-opacity: 1;
  border-color: rgb(27 27 27 / var(--tw-border-opacity, 1));
}

.border-\[\#272626\] {
  --tw-border-opacity: 1;
  border-color: rgb(39 38 38 / var(--tw-border-opacity, 1));
}

.border-\[\#5F29B7\] {
  --tw-border-opacity: 1;
  border-color: rgb(95 41 183 / var(--tw-border-opacity, 1));
}

.border-\[\#685C7B\] {
  --tw-border-opacity: 1;
  border-color: rgb(104 92 123 / var(--tw-border-opacity, 1));
}

.border-purple-600 {
  --tw-border-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-border-opacity, 1));
}

.bg-\[\#0E0915\] {
  --tw-bg-opacity: 1;
  background-color: rgb(14 9 21 / var(--tw-bg-opacity, 1));
}

.bg-\[\#5F29B7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(95 41 183 / var(--tw-bg-opacity, 1));
}

.bg-\[\#6d6d6d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(109 109 109 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'\/pages\/AuthPage\/bg\.png\'\)\] {
  background-image: url("/pages/AuthPage/bg.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage_2\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage_2.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage_light\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage_light.png");
}

.bg-gradient-to-bl {
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-tl {
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.from-black\/0 {
  --tw-gradient-from: #0000 var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-black\/80 {
  --tw-gradient-from: #000c var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/90 {
  --tw-gradient-from: #ffffffe6 var(--tw-gradient-from-position);
  --tw-gradient-to: #fff0 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-transparent {
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), transparent var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-\[\#5F29B7\] {
  --tw-gradient-to: #5f29b7 var(--tw-gradient-to-position);
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-clip-text {
  background-clip: text;
}

.bg-\[40px_-80px\] {
  background-position: 40px -80px;
}

.bg-\[50px_-100px\] {
  background-position: 50px -100px;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-\[5px\] {
  padding: 5px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-\[31px\] {
  padding-bottom: 31px;
}

.pl-\[130px\] {
  padding-left: 130px;
}

.pl-\[30px\] {
  padding-left: 30px;
}

.pr-\[130px\] {
  padding-right: 130px;
}

.pt-\[42px\] {
  padding-top: 42px;
}

.font-nekstlight {
  font-family: Nekst-Light, sans-serif;
}

.font-nekstmedium {
  font-family: Nekst-Medium, sans-serif;
}

.font-nekstregular {
  font-family: Nekst-Regular, sans-serif;
}

.font-nekstsemibold {
  font-family: Nekst-Semibold, sans-serif;
}

.text-\[102px\] {
  font-size: 102px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[250px\] {
  font-size: 250px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[60px\] {
  font-size: 60px;
}

.text-\[70px\] {
  font-size: 70px;
}

.text-\[72px\] {
  font-size: 72px;
}

.text-\[80px\] {
  font-size: 80px;
}

.tracking-\[-2\%\] {
  letter-spacing: -2%;
}

.text-\[\#6E647D\] {
  --tw-text-opacity: 1;
  color: rgb(110 100 125 / var(--tw-text-opacity, 1));
}

.text-\[\#7A6E8C\] {
  --tw-text-opacity: 1;
  color: rgb(122 110 140 / var(--tw-text-opacity, 1));
}

.text-\[\#8C74B4\] {
  --tw-text-opacity: 1;
  color: rgb(140 116 180 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-transparent {
  color: #0000;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.placeholder-\[\#685C7B\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(104 92 123 / var(--tw-placeholder-opacity, 1));
}

.placeholder-opacity-50::placeholder {
  --tw-placeholder-opacity: .5;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: .5;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-\[0\.2s\] {
  transition-duration: .2s;
}

.duration-\[0\.3s\] {
  transition-duration: .3s;
}

@font-face {
  font-family: Nekst-Black;
  src: url("/frontend/public/fonts/nekst/Nekst-Black.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Thin;
  src: url("/frontend/public/fonts/nekst/Nekst-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Bold;
  src: url("/fonts/nekst/Nekst-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Light;
  src: url("/fonts/nekst/Nekst-Light.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Medium;
  src: url("/fonts/nekst/Nekst-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Regular;
  src: url("/fonts/nekst/Nekst-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Semibold;
  src: url("/fonts/nekst/Nekst-SemiBold.woff2") format("woff2");
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#3f3f40, #bfbbc4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#8e2de2, #5f29b7);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #403f40 #121212;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.placeholder\:text-\[26px\]::placeholder {
  font-size: 26px;
}

.after\:ml-\[8px\]:after {
  content: var(--tw-content);
  margin-left: 8px;
}

.after\:inline-block:after {
  content: var(--tw-content);
  display: inline-block;
}

.after\:h-\[15px\]:after {
  content: var(--tw-content);
  height: 15px;
}

.after\:w-\[50px\]:after {
  content: var(--tw-content);
  width: 50px;
}

.after\:bg-\[url\(\'\/pages\/SignUpPage\/arrow\.svg\'\)\]:after {
  content: var(--tw-content);
  background-image: url("/pages/SignUpPage/arrow.svg");
}

.after\:bg-no-repeat:after {
  content: var(--tw-content);
  background-repeat: no-repeat;
}

.hover\:scale-\[0\.95\]:hover {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[0\.9\]:hover {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.08\]:hover {
  --tw-scale-x: 1.08;
  --tw-scale-y: 1.08;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.1\]:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-\[\#262626\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.hover\:bg-purple-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}

.hover\:bg-zinc-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1));
}

.hover\:text-purple-600:hover {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity, 1));
}

.focus\:border-\[\#9B65FF\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(155 101 255 / var(--tw-border-opacity, 1));
}

.focus\:placeholder-opacity-0:focus::placeholder {
  --tw-placeholder-opacity: 0;
}


/* [project]/src/app/resets.css [app-client] (css) */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

body {
  overflow: hidden;
  min-height: 100vh;
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__6fc6c6._.css.map*/
