/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.left-0 {
  left: 0;
}

.left-\[-100px\] {
  left: -100px;
}

.left-\[-999px\] {
  left: -999px;
}

.left-\[17px\] {
  left: 17px;
}

.left-\[20px\] {
  left: 20px;
}

.right-0 {
  right: 0;
}

.right-\[-200px\] {
  right: -200px;
}

.right-\[-900px\] {
  right: -900px;
}

.right-\[3vw\] {
  right: 3vw;
}

.top-\[-100px\] {
  top: -100px;
}

.top-\[-1200px\] {
  top: -1200px;
}

.top-\[-35px\] {
  top: -35px;
}

.top-\[0\] {
  top: 0;
}

.top-\[14px\] {
  top: 14px;
}

.top-\[25px\] {
  top: 25px;
}

.top-\[33px\] {
  top: 33px;
}

.top-\[35px\] {
  top: 35px;
}

.top-full {
  top: 100%;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.m-auto {
  margin: auto;
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[16px\] {
  margin-bottom: 16px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.mb-\[34px\] {
  margin-bottom: 34px;
}

.mb-\[3px\] {
  margin-bottom: 3px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[15px\] {
  margin-left: 15px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[2px\] {
  margin-left: 2px;
}

.ml-\[30px\] {
  margin-left: 30px;
}

.ml-\[3px\] {
  margin-left: 3px;
}

.ml-\[5px\] {
  margin-left: 5px;
}

.ml-\[7px\] {
  margin-left: 7px;
}

.ml-\[97px\] {
  margin-left: 97px;
}

.ml-auto {
  margin-left: auto;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mr-\[15px\] {
  margin-right: 15px;
}

.mr-\[23px\] {
  margin-right: 23px;
}

.mr-\[3px\] {
  margin-right: 3px;
}

.mr-\[5vw\] {
  margin-right: 5vw;
}

.mr-\[7px\] {
  margin-right: 7px;
}

.mr-\[8px\] {
  margin-right: 8px;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-\[-20px\] {
  margin-top: -20px;
}

.mt-\[0px\] {
  margin-top: 0;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[103px\] {
  margin-top: 103px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[116px\] {
  margin-top: 116px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[21px\] {
  margin-top: 21px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[278px\] {
  margin-top: 278px;
}

.mt-\[281px\] {
  margin-top: 281px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[37px\] {
  margin-top: 37px;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[52px\] {
  margin-top: 52px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[74px\] {
  margin-top: 74px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[93px\] {
  margin-top: 93px;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-2 {
  height: .5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[1100px\] {
  height: 1100px;
}

.h-\[130px\] {
  height: 130px;
}

.h-\[13px\] {
  height: 13px;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[17px\] {
  height: 17px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[237px\] {
  height: 237px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[292px\] {
  height: 292px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[37px\] {
  height: 37px;
}

.h-\[40\%\] {
  height: 40%;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[43px\] {
  height: 43px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[67vh\] {
  height: 67vh;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[8\%\] {
  height: 8%;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[890px\] {
  height: 890px;
}

.h-\[90\%\] {
  height: 90%;
}

.h-\[900px\] {
  height: 900px;
}

.h-\[full\] {
  height: full;
}

.h-full {
  height: 100%;
}

.max-h-\[10000px\] {
  max-height: 10000px;
}

.max-h-\[1200px\] {
  max-height: 1200px;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.max-h-\[500px\] {
  max-height: 500px;
}

.min-h-\[1000px\] {
  min-height: 1000px;
}

.min-h-\[100px\] {
  min-height: 100px;
}

.min-h-\[100vh\] {
  min-height: 100vh;
}

.min-h-\[10px\] {
  min-height: 10px;
}

.min-h-\[20px\] {
  min-height: 20px;
}

.min-h-\[500px\] {
  min-height: 500px;
}

.min-h-\[70px\] {
  min-height: 70px;
}

.min-h-\[900px\] {
  min-height: 900px;
}

.min-h-full {
  min-height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-2 {
  width: .5rem;
}

.w-5 {
  width: 1.25rem;
}

.w-\[10\%\] {
  width: 10%;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[1600px\] {
  width: 1600px;
}

.w-\[17px\] {
  width: 17px;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[210px\] {
  width: 210px;
}

.w-\[22\%\] {
  width: 22%;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[25\%\] {
  width: 25%;
}

.w-\[2500px\] {
  width: 2500px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[256px\] {
  width: 256px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[35\%\] {
  width: 35%;
}

.w-\[376px\] {
  width: 376px;
}

.w-\[397px\] {
  width: 397px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[42px\] {
  width: 42px;
}

.w-\[45\%\] {
  width: 45%;
}

.w-\[450px\] {
  width: 450px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[550px\] {
  width: 550px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[68\%\] {
  width: 68%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[73\%\] {
  width: 73%;
}

.w-\[765px\] {
  width: 765px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[800px\] {
  width: 800px;
}

.w-\[85\%\] {
  width: 85%;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[95\%\] {
  width: 95%;
}

.w-full {
  width: 100%;
}

.min-w-\[10px\] {
  min-width: 10px;
}

.min-w-\[500px\] {
  min-width: 500px;
}

.max-w-\[100\%\] {
  max-width: 100%;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-\[70\%\] {
  max-width: 70%;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.max-w-\[800px\] {
  max-width: 800px;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.shrink-0 {
  flex-shrink: 0;
}

.origin-top {
  transform-origin: top;
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-\[50\%\] {
  --tw-scale-y: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.appearance-none {
  appearance: none;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-\[1fr_1fr_1fr_1fr_1fr_1fr\] {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-\[1fr_2fr_2fr_2fr_2fr_2fr_3fr\] {
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 3fr;
}

.grid-cols-\[3fr_1fr_2fr_1fr_1fr\] {
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: .5rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-x-\[10px\] {
  column-gap: 10px;
}

.gap-x-\[30px\] {
  column-gap: 30px;
}

.gap-y-\[10px\] {
  row-gap: 10px;
}

.gap-y-\[20px\] {
  row-gap: 20px;
}

.space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(10px * var(--tw-space-x-reverse));
  margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[15px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(15px * var(--tw-space-x-reverse));
  margin-left: calc(15px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[20px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(20px * var(--tw-space-x-reverse));
  margin-left: calc(20px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[30px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(30px * var(--tw-space-x-reverse));
  margin-left: calc(30px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[5px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(5px * var(--tw-space-x-reverse));
  margin-left: calc(5px * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.space-y-\[10px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(10px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(10px * var(--tw-space-y-reverse));
}

.space-y-\[2px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2px * var(--tw-space-y-reverse));
}

.space-y-\[5px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5px * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[13px\] {
  border-radius: 13px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-r-\[20px\] {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-br-\[20px\] {
  border-bottom-right-radius: 20px;
}

.rounded-tr-\[20px\] {
  border-top-right-radius: 20px;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-\[3px\] {
  border-width: 3px;
}

.border-y-\[1px\] {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-b-\[2px\] {
  border-bottom-width: 2px;
}

.border-l-\[1px\] {
  border-left-width: 1px;
}

.border-r-\[1px\] {
  border-right-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-\[\#1b1b1b\] {
  --tw-border-opacity: 1;
  border-color: rgb(27 27 27 / var(--tw-border-opacity, 1));
}

.border-\[\#272626\] {
  --tw-border-opacity: 1;
  border-color: rgb(39 38 38 / var(--tw-border-opacity, 1));
}

.border-\[\#2b2b2b\] {
  --tw-border-opacity: 1;
  border-color: rgb(43 43 43 / var(--tw-border-opacity, 1));
}

.border-\[\#2c2c2c\] {
  --tw-border-opacity: 1;
  border-color: rgb(44 44 44 / var(--tw-border-opacity, 1));
}

.border-\[\#2d2d2d\] {
  --tw-border-opacity: 1;
  border-color: rgb(45 45 45 / var(--tw-border-opacity, 1));
}

.border-\[\#2f2f2f\] {
  --tw-border-opacity: 1;
  border-color: rgb(47 47 47 / var(--tw-border-opacity, 1));
}

.border-\[\#303030\] {
  --tw-border-opacity: 1;
  border-color: rgb(48 48 48 / var(--tw-border-opacity, 1));
}

.border-\[\#323131\] {
  --tw-border-opacity: 1;
  border-color: rgb(50 49 49 / var(--tw-border-opacity, 1));
}

.border-\[\#333\] {
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51 / var(--tw-border-opacity, 1));
}

.border-\[\#363636\] {
  --tw-border-opacity: 1;
  border-color: rgb(54 54 54 / var(--tw-border-opacity, 1));
}

.border-\[\#383838\] {
  --tw-border-opacity: 1;
  border-color: rgb(56 56 56 / var(--tw-border-opacity, 1));
}

.border-\[\#393939\] {
  --tw-border-opacity: 1;
  border-color: rgb(57 57 57 / var(--tw-border-opacity, 1));
}

.border-\[\#3c3c3c\] {
  --tw-border-opacity: 1;
  border-color: rgb(60 60 60 / var(--tw-border-opacity, 1));
}

.border-\[\#3d3d3d\] {
  --tw-border-opacity: 1;
  border-color: rgb(61 61 61 / var(--tw-border-opacity, 1));
}

.border-\[\#414141\] {
  --tw-border-opacity: 1;
  border-color: rgb(65 65 65 / var(--tw-border-opacity, 1));
}

.border-\[\#424242\] {
  --tw-border-opacity: 1;
  border-color: rgb(66 66 66 / var(--tw-border-opacity, 1));
}

.border-\[\#444444\] {
  --tw-border-opacity: 1;
  border-color: rgb(68 68 68 / var(--tw-border-opacity, 1));
}

.border-\[\#565158\] {
  --tw-border-opacity: 1;
  border-color: rgb(86 81 88 / var(--tw-border-opacity, 1));
}

.border-\[\#5F29B7\] {
  --tw-border-opacity: 1;
  border-color: rgb(95 41 183 / var(--tw-border-opacity, 1));
}

.border-\[\#685C7B\] {
  --tw-border-opacity: 1;
  border-color: rgb(104 92 123 / var(--tw-border-opacity, 1));
}

.border-\[\#888888\] {
  --tw-border-opacity: 1;
  border-color: rgb(136 136 136 / var(--tw-border-opacity, 1));
}

.border-\[\#959494\] {
  --tw-border-opacity: 1;
  border-color: rgb(149 148 148 / var(--tw-border-opacity, 1));
}

.border-\[\#FFF\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-\[\#b9b9b9\] {
  --tw-border-opacity: 1;
  border-color: rgb(185 185 185 / var(--tw-border-opacity, 1));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-purple-600 {
  --tw-border-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-opacity-0 {
  --tw-border-opacity: 0;
}

.border-opacity-100 {
  --tw-border-opacity: 1;
}

.\!bg-\[\#161616\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-\[\#242424\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(36 36 36 / var(--tw-bg-opacity, 1)) !important;
}

.bg-\[\#0E0915\] {
  --tw-bg-opacity: 1;
  background-color: rgb(14 9 21 / var(--tw-bg-opacity, 1));
}

.bg-\[\#161616\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1652ea\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 82 234 / var(--tw-bg-opacity, 1));
}

.bg-\[\#171717\] {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
}

.bg-\[\#181818\] {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 24 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1a1a1a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1ae5b2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(26 229 178 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1b1b1b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1e1d1d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 29 29 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1e1e1e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1));
}

.bg-\[\#212121\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity, 1));
}

.bg-\[\#232323\] {
  --tw-bg-opacity: 1;
  background-color: rgb(35 35 35 / var(--tw-bg-opacity, 1));
}

.bg-\[\#242424\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 36 36 / var(--tw-bg-opacity, 1));
}

.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.bg-\[\#272727\] {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 39 / var(--tw-bg-opacity, 1));
}

.bg-\[\#292929\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 41 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2a2a2a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2b2b2b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(43 43 43 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2f2f2f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(47 47 47 / var(--tw-bg-opacity, 1));
}

.bg-\[\#31e2a4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(49 226 164 / var(--tw-bg-opacity, 1));
}

.bg-\[\#383838\] {
  --tw-bg-opacity: 1;
  background-color: rgb(56 56 56 / var(--tw-bg-opacity, 1));
}

.bg-\[\#393939\] {
  --tw-bg-opacity: 1;
  background-color: rgb(57 57 57 / var(--tw-bg-opacity, 1));
}

.bg-\[\#3a3a3a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(58 58 58 / var(--tw-bg-opacity, 1));
}

.bg-\[\#414141\] {
  --tw-bg-opacity: 1;
  background-color: rgb(65 65 65 / var(--tw-bg-opacity, 1));
}

.bg-\[\#424242\] {
  --tw-bg-opacity: 1;
  background-color: rgb(66 66 66 / var(--tw-bg-opacity, 1));
}

.bg-\[\#444\] {
  --tw-bg-opacity: 1;
  background-color: rgb(68 68 68 / var(--tw-bg-opacity, 1));
}

.bg-\[\#474646\] {
  --tw-bg-opacity: 1;
  background-color: rgb(71 70 70 / var(--tw-bg-opacity, 1));
}

.bg-\[\#4e4e4e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(78 78 78 / var(--tw-bg-opacity, 1));
}

.bg-\[\#56edb5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(86 237 181 / var(--tw-bg-opacity, 1));
}

.bg-\[\#5F29B7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(95 41 183 / var(--tw-bg-opacity, 1));
}

.bg-\[\#631919\] {
  --tw-bg-opacity: 1;
  background-color: rgb(99 25 25 / var(--tw-bg-opacity, 1));
}

.bg-\[\#6d6d6d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(109 109 109 / var(--tw-bg-opacity, 1));
}

.bg-\[\#c1aa16\] {
  --tw-bg-opacity: 1;
  background-color: rgb(193 170 22 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-0 {
  --tw-bg-opacity: 0;
}

.bg-opacity-10 {
  --tw-bg-opacity: .1;
}

.bg-opacity-100 {
  --tw-bg-opacity: 1;
}

.bg-opacity-25 {
  --tw-bg-opacity: .25;
}

.bg-opacity-30 {
  --tw-bg-opacity: .3;
}

.bg-opacity-60 {
  --tw-bg-opacity: .6;
}

.bg-opacity-70 {
  --tw-bg-opacity: .7;
}

.bg-opacity-80 {
  --tw-bg-opacity: .8;
}

.bg-\[url\(\'\/pages\/AuthPage\/bg\.png\'\)\] {
  background-image: url("/pages/AuthPage/bg.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage_2\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage_2.png");
}

.bg-\[url\(\'\/pages\/mainPage\/decorations\/bg_mainpage_light\.png\'\)\] {
  background-image: url("/pages/mainPage/decorations/bg_mainpage_light.png");
}

.bg-gradient-to-bl {
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-tl {
  background-image: linear-gradient(to top left, var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.from-black\/0 {
  --tw-gradient-from: #0000 var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-black\/80 {
  --tw-gradient-from: #000c var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/90 {
  --tw-gradient-from: #ffffffe6 var(--tw-gradient-from-position);
  --tw-gradient-to: #fff0 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-transparent {
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), transparent var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-\[\#5F29B7\] {
  --tw-gradient-to: #5f29b7 var(--tw-gradient-to-position);
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-clip-text {
  background-clip: text;
}

.bg-\[40px_-80px\] {
  background-position: 40px -80px;
}

.bg-\[50px_-100px\] {
  background-position: 50px -100px;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[13px\] {
  padding: 13px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[25px\] {
  padding: 25px;
}

.p-\[2px\] {
  padding: 2px;
}

.p-\[35px\] {
  padding: 35px;
}

.p-\[5\%\] {
  padding: 5%;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[8px\] {
  padding: 8px;
}

.px-\[0\%\] {
  padding-left: 0%;
  padding-right: 0%;
}

.px-\[100px\] {
  padding-left: 100px;
  padding-right: 100px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[3px\] {
  padding-left: 3px;
  padding-right: 3px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[5\%\] {
  padding-left: 5%;
  padding-right: 5%;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[25px\] {
  padding-bottom: 25px;
}

.pb-\[31px\] {
  padding-bottom: 31px;
}

.pe-8 {
  padding-inline-end: 2rem;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pl-\[130px\] {
  padding-left: 130px;
}

.pl-\[13px\] {
  padding-left: 13px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pl-\[30px\] {
  padding-left: 30px;
}

.pl-\[3px\] {
  padding-left: 3px;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pl-\[5px\] {
  padding-left: 5px;
}

.pr-\[10px\] {
  padding-right: 10px;
}

.pr-\[130px\] {
  padding-right: 130px;
}

.pr-\[30px\] {
  padding-right: 30px;
}

.pr-\[3px\] {
  padding-right: 3px;
}

.pr-\[5px\] {
  padding-right: 5px;
}

.ps-8 {
  padding-inline-start: 2rem;
}

.pt-\[0px\] {
  padding-top: 0;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[42px\] {
  padding-top: 42px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.align-text-top {
  vertical-align: text-top;
}

.font-nekstlight {
  font-family: Nekst-Light, sans-serif;
}

.font-nekstmedium {
  font-family: Nekst-Medium, sans-serif;
}

.font-nekstregular {
  font-family: Nekst-Regular, sans-serif;
}

.font-nekstsemibold {
  font-family: Nekst-Semibold, sans-serif;
}

.text-\[102px\] {
  font-size: 102px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[250px\] {
  font-size: 250px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[45px\] {
  font-size: 45px;
}

.text-\[60px\] {
  font-size: 60px;
}

.text-\[70px\] {
  font-size: 70px;
}

.text-\[72px\] {
  font-size: 72px;
}

.text-\[80px\] {
  font-size: 80px;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.tracking-\[-2\%\] {
  letter-spacing: -2%;
}

.text-\[\#19d464\] {
  --tw-text-opacity: 1;
  color: rgb(25 212 100 / var(--tw-text-opacity, 1));
}

.text-\[\#454545\] {
  --tw-text-opacity: 1;
  color: rgb(69 69 69 / var(--tw-text-opacity, 1));
}

.text-\[\#4d4d4d\] {
  --tw-text-opacity: 1;
  color: rgb(77 77 77 / var(--tw-text-opacity, 1));
}

.text-\[\#5e5e5e\] {
  --tw-text-opacity: 1;
  color: rgb(94 94 94 / var(--tw-text-opacity, 1));
}

.text-\[\#6E647D\] {
  --tw-text-opacity: 1;
  color: rgb(110 100 125 / var(--tw-text-opacity, 1));
}

.text-\[\#6a6a6a\] {
  --tw-text-opacity: 1;
  color: rgb(106 106 106 / var(--tw-text-opacity, 1));
}

.text-\[\#6b6a6a\] {
  --tw-text-opacity: 1;
  color: rgb(107 106 106 / var(--tw-text-opacity, 1));
}

.text-\[\#717171\] {
  --tw-text-opacity: 1;
  color: rgb(113 113 113 / var(--tw-text-opacity, 1));
}

.text-\[\#727272\] {
  --tw-text-opacity: 1;
  color: rgb(114 114 114 / var(--tw-text-opacity, 1));
}

.text-\[\#767676\] {
  --tw-text-opacity: 1;
  color: rgb(118 118 118 / var(--tw-text-opacity, 1));
}

.text-\[\#7A6E8C\] {
  --tw-text-opacity: 1;
  color: rgb(122 110 140 / var(--tw-text-opacity, 1));
}

.text-\[\#7e7e7e\] {
  --tw-text-opacity: 1;
  color: rgb(126 126 126 / var(--tw-text-opacity, 1));
}

.text-\[\#878686\] {
  --tw-text-opacity: 1;
  color: rgb(135 134 134 / var(--tw-text-opacity, 1));
}

.text-\[\#878787\] {
  --tw-text-opacity: 1;
  color: rgb(135 135 135 / var(--tw-text-opacity, 1));
}

.text-\[\#8C74B4\] {
  --tw-text-opacity: 1;
  color: rgb(140 116 180 / var(--tw-text-opacity, 1));
}

.text-\[\#8a8888\] {
  --tw-text-opacity: 1;
  color: rgb(138 136 136 / var(--tw-text-opacity, 1));
}

.text-\[\#939393\] {
  --tw-text-opacity: 1;
  color: rgb(147 147 147 / var(--tw-text-opacity, 1));
}

.text-\[\#959595\] {
  --tw-text-opacity: 1;
  color: rgb(149 149 149 / var(--tw-text-opacity, 1));
}

.text-\[\#9d9d9d\] {
  --tw-text-opacity: 1;
  color: rgb(157 157 157 / var(--tw-text-opacity, 1));
}

.text-\[\#a5a5a5\] {
  --tw-text-opacity: 1;
  color: rgb(165 165 165 / var(--tw-text-opacity, 1));
}

.text-\[\#b5b1ff\] {
  --tw-text-opacity: 1;
  color: rgb(181 177 255 / var(--tw-text-opacity, 1));
}

.text-\[\#d1cfcf\] {
  --tw-text-opacity: 1;
  color: rgb(209 207 207 / var(--tw-text-opacity, 1));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-purple-500 {
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-transparent {
  color: #0000;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-300 {
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity, 1));
}

.placeholder-\[\#685C7B\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(104 92 123 / var(--tw-placeholder-opacity, 1));
}

.placeholder-opacity-50::placeholder {
  --tw-placeholder-opacity: .5;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: .5;
}

.shadow-\[0px_5px_20px_\#424242\] {
  --tw-shadow: 0px 5px 20px #424242;
  --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-\[0\.3s\] {
  transition-property: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-200 {
  transition-duration: .2s;
}

.duration-300 {
  transition-duration: .3s;
}

.duration-\[0\.2s\] {
  transition-duration: .2s;
}

.duration-\[0\.3s\] {
  transition-duration: .3s;
}

.duration-\[0\.5s\] {
  transition-duration: .5s;
}

@font-face {
  font-family: Nekst-Black;
  src: url("/frontend/public/fonts/nekst/Nekst-Black.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Thin;
  src: url("/frontend/public/fonts/nekst/Nekst-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Bold;
  src: url("/fonts/nekst/Nekst-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Light;
  src: url("/fonts/nekst/Nekst-Light.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Medium;
  src: url("/fonts/nekst/Nekst-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Regular;
  src: url("/fonts/nekst/Nekst-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Nekst-Semibold;
  src: url("/fonts/nekst/Nekst-SemiBold.woff2") format("woff2");
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#3f3f40, #bfbbc4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#8e2de2, #5f29b7);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #403f40 #121212;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1600px;
}

* {
  color: #fff;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.placeholder\:text-\[26px\]::placeholder {
  font-size: 26px;
}

.placeholder\:text-\[\#414141\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(65 65 65 / var(--tw-text-opacity, 1));
}

.before\:absolute:before {
  content: var(--tw-content);
  position: absolute;
}

.before\:-left-4:before {
  content: var(--tw-content);
  left: -1rem;
}

.before\:top-0:before {
  content: var(--tw-content);
  top: 0;
}

.before\:-z-10:before {
  content: var(--tw-content);
  z-index: -10;
}

.before\:h-full:before {
  content: var(--tw-content);
  height: 100%;
}

.before\:w-1\/2:before {
  content: var(--tw-content);
  width: 50%;
}

.before\:skew-x-\[-35deg\]:before {
  content: var(--tw-content);
  --tw-skew-x: -35deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rounded-l-lg:before {
  content: var(--tw-content);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.before\:bg-inherit:before {
  content: var(--tw-content);
  background-color: inherit;
}

.before\:content-\[\'\'\]:before {
  --tw-content: "";
  content: var(--tw-content);
}

.after\:absolute:after {
  content: var(--tw-content);
  position: absolute;
}

.after\:-right-4:after {
  content: var(--tw-content);
  right: -1rem;
}

.after\:bottom-\[-6px\]:after {
  content: var(--tw-content);
  bottom: -6px;
}

.after\:left-1\/2:after {
  content: var(--tw-content);
  left: 50%;
}

.after\:top-0:after {
  content: var(--tw-content);
  top: 0;
}

.after\:-z-10:after {
  content: var(--tw-content);
  z-index: -10;
}

.after\:ml-\[8px\]:after {
  content: var(--tw-content);
  margin-left: 8px;
}

.after\:inline-block:after {
  content: var(--tw-content);
  display: inline-block;
}

.after\:h-\[15px\]:after {
  content: var(--tw-content);
  height: 15px;
}

.after\:h-full:after {
  content: var(--tw-content);
  height: 100%;
}

.after\:w-1\/2:after {
  content: var(--tw-content);
  width: 50%;
}

.after\:w-\[50px\]:after {
  content: var(--tw-content);
  width: 50px;
}

.after\:-translate-x-1\/2:after {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:-skew-x-\[35deg\]:after {
  content: var(--tw-content);
  --tw-skew-x: -35deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rounded-r-lg:after {
  content: var(--tw-content);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.after\:border-\[6px\]:after {
  content: var(--tw-content);
  border-width: 6px;
}

.after\:border-transparent:after {
  content: var(--tw-content);
  border-color: #0000;
}

.after\:border-t-\[\#414141\]:after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-top-color: rgb(65 65 65 / var(--tw-border-opacity, 1));
}

.after\:bg-inherit:after {
  content: var(--tw-content);
  background-color: inherit;
}

.after\:bg-\[url\(\'\/pages\/SignUpPage\/arrow\.svg\'\)\]:after {
  content: var(--tw-content);
  background-image: url("/pages/SignUpPage/arrow.svg");
}

.after\:bg-no-repeat:after {
  content: var(--tw-content);
  background-repeat: no-repeat;
}

.after\:content-\[\'\'\]:after {
  --tw-content: "";
  content: var(--tw-content);
}

.hover\:scale-\[0\.94\]:hover {
  --tw-scale-x: .94;
  --tw-scale-y: .94;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[0\.95\]:hover {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[0\.9\]:hover {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.08\]:hover {
  --tw-scale-x: 1.08;
  --tw-scale-y: 1.08;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.1\]:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:border-\[2px\]:hover {
  border-width: 2px;
}

.hover\:border-solid:hover {
  border-style: solid;
}

.hover\:border-purple-600:hover {
  --tw-border-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-border-opacity, 1));
}

.hover\:border-opacity-100:hover {
  --tw-border-opacity: 1;
}

.hover\:bg-\[\#1f1f1f\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#252525\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#262626\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#2e2e2e\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(46 46 46 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#323232\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(50 50 50 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#333333\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#3c3c3c\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 60 60 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#424242\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(66 66 66 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#444\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(68 68 68 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#494747\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(73 71 71 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#525151\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(82 81 81 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#5e5e5e\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(94 94 94 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#e3e2e2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(227 226 226 / var(--tw-bg-opacity, 1));
}

.hover\:bg-purple-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}

.hover\:bg-zinc-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1));
}

.hover\:bg-opacity-0:hover {
  --tw-bg-opacity: 0;
}

.hover\:bg-opacity-30:hover {
  --tw-bg-opacity: .3;
}

.hover\:bg-opacity-50:hover {
  --tw-bg-opacity: .5;
}

.hover\:text-\[\#e57cff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(229 124 255 / var(--tw-text-opacity, 1));
}

.hover\:text-purple-600:hover {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity, 1));
}

.hover\:shadow-\[0px_4px_8px_rgba\(66\,66\,66\,0\.5\)\]:hover {
  --tw-shadow: 0px 4px 8px #42424280;
  --tw-shadow-colored: 0px 4px 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:border-\[\#9B65FF\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(155 101 255 / var(--tw-border-opacity, 1));
}

.focus\:border-opacity-100:focus {
  --tw-border-opacity: 1;
}

.focus\:placeholder-opacity-0:focus::placeholder {
  --tw-placeholder-opacity: 0;
}

.focus\:outline-none:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.focus\:placeholder\:opacity-0:focus::placeholder {
  opacity: 0;
}

.group:focus-within .group-focus-within\:border-opacity-100 {
  --tw-border-opacity: 1;
}

.group:hover .group-hover\:pointer-events-auto {
  pointer-events: auto;
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.group:hover .group-hover\:rotate-\[180deg\] {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-y-\[100\%\] {
  --tw-scale-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-\[\#b5b5b5\] {
  --tw-border-opacity: 1;
  border-color: rgb(181 181 181 / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:bg-\[\#4a4848\] {
  --tw-bg-opacity: 1;
  background-color: rgb(74 72 72 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-\[\#eca2ff\] {
  --tw-text-opacity: 1;
  color: rgb(236 162 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.peer:checked ~ .peer-checked\:border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.peer:checked ~ .peer-checked\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.\[\&\:\:-webkit-inner-spin-button\]\:hidden::-webkit-inner-spin-button {
  display: none;
}

.\[\&\:\:-webkit-outer-spin-button\]\:hidden::-webkit-outer-spin-button {
  display: none;
}

.\[\&\:\:-webkit-slider-thumb\]\:h-\[16px\]::-webkit-slider-thumb {
  height: 16px;
}

.\[\&\:\:-webkit-slider-thumb\]\:w-\[16px\]::-webkit-slider-thumb {
  width: 16px;
}

.\[\&\:\:-webkit-slider-thumb\]\:appearance-none::-webkit-slider-thumb {
  appearance: none;
}

.\[\&\:\:-webkit-slider-thumb\]\:rounded-full::-webkit-slider-thumb {
  border-radius: 9999px;
}

.\[\&\:\:-webkit-slider-thumb\]\:border-2::-webkit-slider-thumb {
  border-width: 2px;
}

.\[\&\:\:-webkit-slider-thumb\]\:border-white::-webkit-slider-thumb {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.\[\&\:\:-webkit-slider-thumb\]\:bg-\[\#ffffff\]::-webkit-slider-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}


/* [project]/src/app/resets.css [app-client] (css) */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

body {
  overflow: hidden;
  min-height: 100vh;
}


/*# sourceMappingURL=src_app_4650bc._.css.map*/
